# Directories #
/build/
/bin/
target/
/dist/
/config/

# Configuration Files in /home/username/web/app

nixmash-jangles.iml

# OS Files #
.DS_Store
 
*.class
 
# Package Files #
*.war
*.ear
*.db
 
######################
# Eclipse
######################
 
*.pydevproject
.project
.metadata
bin/**
out/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
/src/main/resources/rebel.xml

# External tool builders
.externalToolBuilders/
 
# Locally stored "Eclipse launch configurations"
*.launch
 
# CDT-specific
.cproject
 
# PDT-specific
.buildpath

# jangles user-specific logs and properties
jangles.log

/.idea/
/jangles.iml
/dev/
